@model FDMC.App.Models.BindingModels.CatCreatingBindingModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add Cat</h1>

<form action="/Cats/Add" method="post">
    <p>
        <div class="form-group">
            <label asp-for="Name" style=""></label>
            <br/>
            <input type="text" name="Name" value=""/>
        </div>
    </p>
    <div class="form-group">
        <label asp-for="Age"></label>
        <br />
        <input type="text" name="Age" value="" />
    </div>
    <div class="form-group">
        <label asp-for="Breed"></label>
        <br />
        <input type="text" name="Breed" value="" />
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Image URL</label>
        <br />
        <input type="text" name="ImageUrl" value="" />
    </div>
    <div class="form-group" >
        <input type="submit" value="Add cat"/>
    </div>
</form>