@model FDMC.Models.Cat
@{
    ViewData["Title"] = "Add";
}

<h1>Add Cat</h1>

<form>
    <div>
        <input type="text" name="Name" value="" />
    </div>
    <div>
        <input type="text" name="Age" value="" />
    </div>
    <div>
        <input type="text" name="Breed" value="" />
    </div>
    <div>
        <input type="text" name="ImageUrl" value="" />  
    </div>
    
    


</form>